.floatl {
	float:left;
	margin-right:10px; 
}

.floatr {
	float:right;
	margin-left:10px;
}

.floatc {
	clear: both;
}

.bbcodeleft {
    text-align: left;
}

.bbcodecenter {
    text-align: center;
}

.bbcoderight {
    text-align: right;
}

.bbcodejustify {
    text-align: justify;
}

.topic-body .cooked .bbcodeleft, .topic-body .cooked .bbcodecenter, .topic-body .cooked .bbcoderight, .topic-body .cooked .bbcodejustify {
	margin-bottom: 1em;
}

@media (max-width: 960px) {
	.d-editor-button-bar button.bullet, .d-editor-button-bar button.list, .d-editor-button-bar button.left_ui_button, .d-editor-button-bar button.justify_ui_button, .d-editor-button-bar button.color_ui_button, .d-editor-button-bar button.size_ui_button {
		display: none;
	}
}

@media (max-width: 600px) {
	.d-editor-button-bar button.addimg_ui_button, .d-editor-button-bar button.floatl_ui_button {
		display: none;
	}
}

/*
Style for new self assessment BBCODE
*/
.assessment { 
	background-color: white;
    box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 25%);
    border-radius: 8px;
    padding: 1rem;
    margin: 1.5rem;
    color: #a4a9b8;
    font-weight: 400;

	.job-title{
		font-weight: 600;
    font-size: 1.5rem;
    color: var(--stemaway-primary-400);
	}
	.subtitle{
	color: #a4a9b8;
	font-weight: 400;
	display: inline-block;
	

	}
	.header{
		display: table;
    background: rgba(164,169,184,0.15);
    border-radius: 6px;
    color: #a4a9b8;
    padding: 0.3rem 1rem;
		text-transform: uppercase;
    margin-top: 0.5rem;
    font-weight: bolder;
	}

	.description{
		color: #8c919b;
    background-color: #edf2f7;
    font-weight: 400;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
	}
}